html {
  background-color: #f2f1ed;
  font-family: Georgia, serif;
  line-height: 1.5;
  list-style-type: none;
}

img {
  width: 100%;
}

h1, h2 {
  color: #5d8432;
  text-transform: uppercase;
}

figcaption {
  font-style: italic;
  text-align: center;
  font-size: .75rem;
}

a:link {
  color: #793284;
  font-weight: bold;
  font-size: 1.125rem;
}

a:hover {
  color: #b42885;
}

h1, h2, nav {
  font-family: "Patua One", cursive;
}

.hadro {
  font-size: 1rem;
}
